---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import logoSVG from "../../public/images/logo.svg";
import { Image } from "astro:assets";
---

<Layout title="Welcome to Astro.">
  <main class=" font-Baijamjuree">
    <Image src={logoSVG} alt="Landing Page Logo, its a C light green color" />
    <h1>A history of everything you copy</h1>
    <p>
      Clipboard allors you to track and organize everything you copy. Instantly
      access you clipboards on all you devices.
    </p>
    <button
      aria-label="Download Button for IOS system"
      class="rounded-full shadow-sm px-10 py-3 bg-appleGreen"
      >Download for iOS</button
    >
	<button aria-label="Download Button for Mac System" class="rounded-full shadow-sm px-10 py-3 bg-">Download for Mac</button>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 18px;
    line-height: 1.6;
  }
</style>
