---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import ActionSection from "../components/ActionSection.astro";
import Image from "../components/Image.astro";
import Intro from "../components/Intro.astro";
import Features from "../components/Features.astro";
---

<Layout title="Welcome to Astro.">
  <div
    aria-label="Background Image"
    class="absolute inset-0 -z-10 bg-contain bg-[url(/bg-header-mobile.png)] md:bg-[url(/bg-header-desktop.png)] bg-no-repeat"
  >
  </div>
  <main
    class="text-center text-balance my-0 px-7 flex flex-col items-center justify-center mx-auto w-full"
  >
    <Intro />
    <Features />
    <section class="my-20">
      <Heading
        class="text-3xl"
        title="Access Clipboard anywhere"
        description="Whether you’re on the go, or at your computer, you can access all your Clipboard snippets in a few simple clicks."
      />
      <Image
        class="my-16"
        src="/image-devices.webp"
        alt="iPhone and iPad images"
      />
    </section>
    <section class="">
      <Heading
        class="text-3xl"
        title="Supercharge your workflow"
        description="We’ve got the tools to boost your productivity."
      />
      <div
        class="flex flex-col md:flex-row my-20 gap-10 justify-center items-center"
      >
        <Heading
          class="text-xl"
          logo="/icon-blacklist.svg"
          alt="Blacklist Icon to identify the section"
          title="Create blacklists"
          description="Ensure sensitive information never makes its way to your clipboard by excluding certain sources."
        />
        <Heading
          class="text-xl"
          logo="/icon-text.svg"
          alt="A\ text Icon to identify the section"
          title="Plain text snippets"
          description="Remove unwanted formatting from copied text for a consistent look."
        />
        <Heading
          class="text-xl"
          logo="/icon-preview.svg"
          alt="Sneak preview Icon to identify the section"
          title="Sneak preview"
          description="Quick preview of all snippets on your Clipboard for easy access."
        />
      </div>
    </section>
    <company-logos
      class="my-36 flex flex-wrap flex-col md:flex-row justify-center items-center gap-16 sm:gap-16 md:gap-24 w-auto transition-all"
    >
      <Image src="/logo-google.png" loading="lazy" alt="Company logo: Google" />
      <Image src="/logo-ibm.png" loading="lazy" alt="Company logo: IBM" />
      <Image
        src="/logo-microsoft.png"
        loading="lazy"
        alt="Company logo: Microsoft"
      />
      <Image src="/logo-hp.png" loading="lazy" alt="Company logo: HP" />
      <Image
        src="/logo-vector-graphics.png"
        loading="lazy"
        alt="Company logo: VectorGraphics"
      />
    </company-logos>
    <section class="mb-20 mt-32">
      <Heading
        class="text-3xl"
        title="Clipboard for iOS and Mac OS"
        description="Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you’re ready to start adding to your clipboard."
      />

      <ActionSection />
    </section>
  </main>
  <footer
    class="bg-[#f5f7f8] flex flex-col md:flex-row flex-wrap justify-center items-center py-14 gap-10 md:gap-32 w-full md:justify-normal md:px-32 md:pt-20 md:pb-10"
  >
    <Image
      class="mx-auto md:m-0 w-16"
      loading="eager"
      src="/logo.svg"
      alt="Logo C color Cyan"
    />
    <nav
      class="flex flex-col md:flex-row flex-wrap gap-6 md:gap-0 justify-center items-center text-aluminium-800 max-w-lg md:justify-start md:items-start md:*:mr-10"
    >
      <a href="#faqs">FAQs</a>
      <a href="#contact">Contact Us</a>
      <a href="#privacy">Privacy Policy</a>
      <a href="#kit">Press Kit</a>
      <a href="#guide">Install Guide</a>
    </nav>
    <div class="flex gap-10 md:justify-self-end">
      <a aria-label="Link to Facebook Homepage" href="https://fb.com/">
        <Image
          loading="lazy"
          src="/icon-facebook.svg"
          alt="Facebook Logo SVG"
        />
      </a>
      <a aria-label="Link to Twitter Homepage" href="https://twitter.com/">
        <Image
          loading="lazy"
          src="/icon-twitter.svg"
          alt="Twitter Old Logo SVG"
        />
      </a>
      <a aria-label="Link to Instagram Homepage" href="https://instagram.com/">
        <Image
          loading="lazy"
          src="/icon-instagram.svg"
          alt="Instagram Logo SVG"
        />
      </a>
    </div>
  </footer>
</Layout>
