---
import Layout from "../layouts/Layout.astro";
import cLogo from "/public/logo.svg";
import Google from "/public/logo-google.png";
import HP from "/public/logo-hp.png";
import IBM from "/public/logo-ibm.png";
import Microsoft from "/public/logo-microsoft.png";
import VectorGraphics from "/public/logo-vector-graphics.png";
import imgComputer from "/public/image-computer.png";
import imgDevices from "/public/image-devices.png";
import iconBlackList from "/public/icon-blacklist.svg";
import iconFacebook from "/public/icon-facebook.svg";
import iconTwitter from "/public/icon-twitter.svg";
import iconInstagram from "/public/icon-instagram.svg";
import iconText from "/public/icon-text.svg";
import iconPreview from "/public/icon-preview.svg";
import Heading from "../components/Heading.astro";
import ActionSection from "../components/ActionSection.astro";
import Image from "../components/Image.astro";
---

<Layout title="Welcome to Astro.">
  <div
    aria-label="Background Image"
    class="absolute inset-0 -z-10 bg-contain bg-[url(/bg-header-mobile.png)] sm:bg-[url(/bg-header-desktop.png)] bg-no-repeat"
  >
  </div>
  <main
    class="text-center text-balance max-w-[375px] md:max-w-[1440px] mx-auto my-0 px-7"
  >
    <section class="mb-20 mt-32">
      <Image
        className="mx-auto mb-10"
        loading="eager"
        src="/logo.svg"
        alt="Logo C color Cyan"
      />

      <Heading
        title="A history of everything you copy"
        titleSize="36px"
        description="Clipboard allows you to track and organize everything you copy. Instantly access your clipboard on all your devices."
      />

      <ActionSection />
    </section>

    <section class="flex flex-wrap flex-col items-center w-full my-20">
      <Heading
        title="Keep track of your snippets"
        titleSize="3xl"
        description="Clipboard instantly stores any item you copy in the cloud, meaning you can access your snippets immediately on all your devices. Our Mac and iOS apps will help you organize everything."
      />
      <div
        class="flex flex-row flex-wrap sm:flex-nowrap justify-center items-center"
      >
        <Image
          loading="eager"
          src="/image-computer.png"
          alt="Mac model 2017 images"
        />
        <aside class="flex flex-col w-full items-start">
          <Heading
            title="Quick Search"
            titleSize="2xl"
            description="  Easily search your snippets by content, category, web address, application, and more."
          />
          <Heading
            title="iCloud Sync"
            titleSize="2xl"
            description="Instantly saves and syncs snippets across all your devices."
          />
          <Heading
            title="Complete History"
            titleSize="2xl"
            description="Retrieve any snippets from the first moment you started using the app."
          />
        </aside>
      </div>
    </section>
    <section class="my-20">
      <Heading
        title="Access Clipboard anywhere"
        titleSize="3xl"
        description="Whether you’re on the go, or at your computer, you can access all your Clipboard snippets in a few simple clicks."
      />
      <Image src="/image-devices.png" alt="iPhone and iPad images" />
    </section>
    <section class="flex flex-col gap-10">
      <Heading
        title="Supercharge your workflow"
        titleSize="3xl"
        description="We’ve got the tools to boost your productivity."
      />
      <Heading
        logo="/icon-blacklist.svg"
        alt="Blacklist Icon to identify the section"
        title="Create blacklists"
        titleSize="2xl"
        description="Ensure sensitive information never makes its way to your clipboard by excluding certain sources."
      />
      <Heading
        logo="/icon-text.svg"
        alt="A\ text Icon to identify the section"
        title="Plain text snippets"
        titleSize="2xl"
        description="Remove unwanted formatting from copied text for a consistent look."
      />
      <Heading
        logo="/icon-preview.svg"
        alt="Sneak preview Icon to identify the section"
        title="Sneak preview"
        titleSize="2xl"
        description="Quick preview of all snippets on your Clipboard for easy access."
      />
    </section>
    <company-logos
      class="my-32 flex flex-col justify-center items-center gap-20"
    >
      <Image src="/logo-google.png" loading="lazy" alt="Company logo: Google" />
      <Image src="/logo-ibm.png" loading="lazy" alt="Company logo: IBM" />
      <Image
        src="/logo-microsoft.png"
        loading="lazy"
        alt="Company logo: Microsoft"
      />
      <Image src="/logo-hp.png" loading="lazy" alt="Company logo: HP" />
      <Image
        src="/logo-vector-graphics.png"
        loading="lazy"
        alt="Company logo: VectorGraphics"
      />
    </company-logos>
    <section class="mb-20 mt-32">
      <Heading
        title="Clipboard for iOS and Mac OS"
        titleSize="4xl"
        description="Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you’re ready to start adding to your clipboard."
      />

      <ActionSection />
    </section>
  </main>
  <footer
    class="bg-aluminium-100 flex flex-col flex-wrap justify-center items-center py-10 gap-10"
  >
    <Image
      className="mx-auto w-16"
      loading="eager"
      src="/logo.svg"
      alt="Logo C color Cyan"
    />
    <nav
      class="flex flex-col sm:flex-row flex-wrap gap-4 sm:gap-6 justify-center items-center text-aluminium-700"
    >
      <a href="#faqs">FAQs</a>
      <a href="#contact">Contact Us</a>
      <a href="#privacy">Privacy Policy</a>
      <a href="#kit">Press Kit</a>
      <a href="#guide">Install Guide</a>
    </nav>
    <div class="flex gap-6">
      <Image loading="lazy" src="/icon-facebook.svg" alt="Facebook Logo SVG" />
      <Image
        loading="lazy"
        src="/icon-twitter.svg"
        alt="Twitter Old Logo SVG"
      />
      <Image
        loading="lazy"
        src="/icon-instagram.svg"
        alt="Instagram Logo SVG"
      />
    </div>
  </footer>
</Layout>
