<div class="flex flex-row flex-wrap mx-auto my-10 justify-center gap-7">
  <button
    aria-label=`Download For iOS Button`
    class="hover:scale-105 transition-all bg-deep-sea-600 hover:bg-deep-sea-400 rounded-full shadow-md shadow-deep-sea-800 hover:shadow-deep-sea-700 px-20 py-3 text-white"
    >Download for iOS</button
  >
  <button
    aria-label=`Download For iOS Button`
    class="hover:scale-105 transition-all bg-royal-blue-600 hover:bg-royal-blue-500 rounded-full shadow-md hover:shadow-royal-blue-500 shadow-royal-blue-700 px-20 py-3 text-white"
    >Download for Mac</button
  >
</div>
