---
import Heading from "./Heading.astro";
import Image from "./Image.astro";
---

<section class="flex flex-wrap flex-col items-center w-full mb-20 mt-36">
  <Heading
    title="Keep track of your snippets"
    titleSize="28px"
    description="Clipboard instantly stores any item you copy in the cloud, meaning you can access your snippets immediately on all your devices. Our Mac and iOS apps will help you organize everything."
  />
  <div
    class="flex flex-row flex-wrap sm:flex-nowrap justify-center items-center mt-16"
  >
    <Image
      loading="eager"
      src="/image-computer.webp"
      alt="Mac model 2017 images"
    />
    <aside class="flex flex-col w-full items-start gap-14">
      <Heading
        title="Quick Search"
        titleSize="24px"
        description="  Easily search your snippets by content, category, web address, application, and more."
      />
      <Heading
        title="iCloud Sync"
        titleSize="24px"
        description="Instantly saves and syncs snippets across all your devices."
      />
      <Heading
        title="Complete History"
        titleSize="24px"
        description="Retrieve any snippets from the first moment you started using the app."
      />
    </aside>
  </div>
</section>
